<div class="main" id="about">
    <div class="heading">
        <h2>About us</h2>
        <img src="../../../assets/img/aboutUnderline.png" alt="">
    </div>

    <div class="about">
        <div class="image">
            <img src="../../../assets/img/red-n-pink-rose-arrangement-d.avif" alt="" class="tilt">
            <img src="../../../assets/img/member2.jpg" alt="" class="simple">
        </div>
        <div class="cont">
            <h3>FlowerAura - Your One-Stop Shop for Beautiful and Fresh Flowers</h3>
            <p>FlowerAura is your ultimate destination for all your flower needs. Whether you want to brighten up someone's day with a thoughtful bouquet or need to decorate your home with some fresh flowers, we have got you covered. Our flower shop offers a wide variety of flowers, ranging from roses, lilies, carnations to orchids, daisies, and more. We ensure that all our flowers are fresh and of the highest quality, so you can be sure that your loved ones will receive the best possible gift.</p>
            <p>At FlowerAura, we understand the importance of timely delivery, and that's why we offer same-day delivery services for most of our products. We also have a team of expert florists who can create beautiful custom-made bouquets to suit your specific requirements. In addition to flowers, we also offer a range of gifts, including chocolates, cakes, and teddy bears, which can be paired with your flower arrangement to make your gift even more special.</p>
        </div>
    </div>
</div>
<hr>