<div class="home">
    <div class="scroll">
        
        <div class="scroll-card">
            <img src="../../../assets/img/7039316-red-flower-garden.jpg" alt="">
            <div>
                <h2>See the nature with our eyes</h2>
                <p>We have a large collection of flowers of diffrent breed, you can choose according to your need...</p>
            </div>
         </div>
         <div class="scroll-card">
            <img src="../../../assets/img/6907418-tulips-garden-wallpaper.jpg" alt="">
            <div>
                <h2>Flowers are the reason of the beauty of the garden</h2>
                <p>With a huge collection of flowers, you can feel the nature deeply...</p>
            </div>
         </div>
         <div class="scroll-card">
            <img src="../../../assets/img/yCefjF0.jpg" alt="">
            <div>
                <h2>Garden of Flowers</h2>
                <p>Floweraura understands your need, you can visit us anytime...</p>
            </div>
         </div>
           
         <div class="size-fix">
            <img src="../../../assets/img/6907418-tulips-garden-wallpaper.jpg" alt="">
        </div>
    </div>
</div>
