<div class="main" id="gallery">
    <div class="heading">
        <h2>Gallery</h2>
        <img src="../../../assets/img/aboutUnderline.png" alt="">
    </div>

    <div class="gallary">
        <div class="card">
            <img src="../../../assets/img/roses-n-orchids-glass-vase-9887380fl-A_0.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/baby-groot-syngonium-9851457pl-A_0.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/red_rose_1_1.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/red-n-pink-rose-arrangement-d.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/red-hibiscus-plant-9979100pl-A.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/Freshness-Guranteed.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/DSC_1308.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/DSC_0521.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/flow.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/mixed.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/blueflower.avif" alt="">
            <button>Buy Now</button>
        </div>

        <div class="card">
            <img src="../../../assets/img/yellowflo.avif" alt="">
            <button>Buy Now</button>
        </div>

        
        
    </div>
</div>
