<div class="main" id="products">
    <div class="heading">
        <h2>Our Top Products</h2>
        <img src="../../../assets/img/aboutUnderline.png" alt="">
    </div>
    <div class="product">
        <div class="card">
            <img src="../../../assets/img/baby-groot-syngonium-9851457pl-A_0.avif" alt="">
            <h3>Baby Groot syngonium</h3>
        </div>

        <div class="card">
            <img src="../../../assets/img/DSC_0521.avif" alt="">
            <h3>Red and White roses</h3>
        </div>

        <div class="card">
            <img src="../../../assets/img/red-n-pink-rose-arrangement-d.avif" alt="">
            <h3>Red and pink rose arrangement</h3>
        </div>

        
    </div>
</div>
<hr>